*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;

}
header{
    display: flex;
    flex: 0.5;
    background: blue;
    border-radius: 40px;
    

}
ul,
li,
a{
    flex-direction: row;
    padding: 10px;
    display: flex;
    color: white;




}

.container{
    display: flex;
    flex-direction: column;
    flex: 5;
}
.boxes{
    display: flex;
    padding: 10px;
    margin: 10px;
    height: 30vh;
}
.box1{
    flex-grow: 4;
    background-color: #e6e6fa; 
}
.box2{
    flex-grow: 2;
    background-color: #085297; 
}
.box3{
    flex-grow: 2;
    background: rgb(128, 165, 42);
}
